@import "../colors.scss";

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  color: $text;
}

.panel {
  background-color: $dark-alt;
  padding: 20px;
  border-radius: 3px;
  width: 400px;
}
