@import "../colors.scss";

.navbar {
  background-color: $dark;
  color: $text;

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.text-name {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  font-weight: bold;
}

.navbar-link {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  color: $text;
  text-decoration: none;

  &:hover {
    color: $text-hover;
    cursor: pointer;
  }
}
