.container {
  scroll-snap-type: y mandatory;
  box-sizing: border-box;

  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.image-pane {
  scroll-snap-align: center;
  box-sizing: border-box;

  height: 100%;
  width: 100%;
  padding: 100px 10%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  @media (max-height: 500px) {
    padding: 20px 5%;
  }
}

.image-pane-square {
  aspect-ratio: 0.85 / 1;
  height: 100%;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  gap: 10px;

  overflow: hidden;
}

.image-row {
  box-sizing: border-box;
  overflow: hidden;
}

.image-row-inner {
  box-sizing: border-box;
  height: 100%;

  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.image-container {
  box-sizing: border-box;
  flex: 15 0 0;
}

.vertical {
  flex: 7 0 0;
}

.image {
  box-sizing: border-box;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
